{% include "header.html" %}

  <!-- Page Header -->
   <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Sobre a TinFit</h1>
            <span class="subheading">Procuramos divulgar o que de melhor tem na internet</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p></p>
        <p></p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}